# 2022 NHL Playoff Pool

In [4]:
import pandas as pd
import numpy as np
import os

In [32]:
os.listdir('brackets')

['bracket_2022_cameron.xlsx']

In [16]:
df = pd.read_excel("brackets/bracket_2022_cameron.xlsx", sheet_name='teams')
df

,teams,rd1_selections,rd2_selections,rd3_selections,rd4_selections,tie_breaker,entrant_name
0,CGY,CGY,CGY,COL,COL,Pasternak,Cameron Harris
1,NSH,EDM,COL,BOS,NaN,NaN,NaN
2,EDM,COL,FLA,NaN,NaN,NaN,NaN
3,LAK,MIN,BOS,NaN,NaN,NaN,NaN
4,COL,FLA,NaN,NaN,NaN,NaN,NaN
5,DAL,TOR,NaN,NaN,NaN,NaN,NaN
6,MIN,BOS,NaN,NaN,NaN,NaN,NaN
7,STL,NYR,NaN,NaN,NaN,NaN,NaN
8,FLA,NaN,NaN,NaN,NaN,NaN,NaN
9,WSH,NaN,NaN,NaN,NaN,NaN,NaN
10,TOR,NaN,NaN,NaN,NaN,NaN,NaN
11,TBL,NaN,NaN,NaN,NaN,NaN,NaN
12,CAR,NaN,NaN,NaN,NaN,NaN,NaN
13,BOS,NaN,NaN,NaN,NaN,NaN,NaN
14,NYR,NaN,NaN,NaN,NaN,NaN,NaN
15,PIT,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
picks = {
df['entrant_name'].dropna().item() :
    {
    'rd1_selections' : df['rd1_selections'].dropna().to_list(),
    'rd2_selections' : df['rd2_selections'].dropna().to_list(),
    'rd3_selections' : df['rd3_selections'].dropna().to_list(),
    'rd4_selections' : df['rd4_selections'].dropna().to_list(),
    'tie_breaker' : df['tie_breaker'].dropna().to_list()
}}

In [30]:
picks['Cameron Harris']

{'rd1_selections': ['CGY', 'EDM', 'COL', 'MIN', 'FLA', 'TOR', 'BOS', 'NYR'],
 'rd2_selections': ['CGY', 'COL', 'FLA', 'BOS'],
 'rd3_selections': ['COL', 'BOS'],
 'rd4_selections': ['COL'],
 'tie_breaker': ['Pasternak']}